<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recovery Account | EverNature</title>
    <link rel="icon" type="image/x-icon" th:href="@{/images/favicon/favicon.ico}">
    <link th:href=@{/styles/change.css} rel="stylesheet" />
    <script th:src="@{/js/change.js}"></script>
</head>

<body>

    <main class="div">

        <section class="container">

            <div class="top-login">
                <h1 class="title">Restablece tu contraseña</h1>
            </div>
            <div class="top-info">
                <span>
                    Restablece tu contraseña y accede a tu cuenta.
                </span>
            </div>
            <div class="mid-login">

                <div class="split-container">
                    <form th:action="@{'/login/account-recovery/reset_password?token=' + ${token}}" method="post" class="custom-form">
                        <div>
                            <label class="form-label">NUEVA CONTRASEÑA</label>
                            <div class="field">
                                <input id="password_1" class="custom-input" type="password" placeholder="Nueva contraseña"
                                    name="password">
                            </div>
                        </div>
                        <div>
                            <label class="form-label">REPETIR NUEVA CONTRASEÑA</label>
                            <div class="field">
                                <input id="password_2" class="custom-input" type="password" placeholder="Repetir nueva contraseña"
                                    name="verifyPassword">
                            </div>
                        </div>
                        <input id="send" type="submit" class="login-button disabled" value="RESTABLECER CONTRASEÑA" disabled></input>
                    </form>
                </div>
            </div>

        </section>
    </main>

</body>

</html>