<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/styles/validation.css}">
    <script th:src="@{/js/validation.js}"></script>
</head>
<body>

    <header class="action">
        <div class="profile">
            <img  id="profile" th:src="@{/images/aaaaaaaaa.jpg}" alt="">
        </div>
        <div class="menu" id="menu">
            <ul class="dropdown">
                <li>
                    <a class="link" th:href="@{/logout}">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="24" height="24" viewBox="0 0 24 24"><path d="M16,17V14H9V10H16V7L21,12L16,17M14,2A2,2 0 0,1 16,4V6H14V4H5V20H14V18H16V20A2,2 0 0,1 14,22H5A2,2 0 0,1 3,20V4A2,2 0 0,1 5,2H14Z" /></svg>
                        Logout
                    </a>
                </li>
            </ul>
        </div>
    </header>
    
    <main>
        <section class="header">
            <h1 class="header_text" th:text="'Animal detectado ' + ${validationAnimal.detectedAnimal.name}"></h1>
            <hr>
        </section>
        <form class="animal_section" th:action="@{'/validate/' + ${id}}" method="post">
            <img class="image" th:src="${validationAnimal.predictedImagePath}" alt="">
            <div class="animal_info">
                <div class="animal_general_info">
                    <h3 th:text="${validationAnimal.detectedAnimal.name}">Great kiskadee</h3>
                    <div class="date">
                        <span>19/5/2021 22:45:00</span>
                    </div>
                </div>
                <div class="detection_selection">
                    <label for="">
                        <input type="radio" name="selection" id="correct" value="true"> Correct detection
                    </label>
                    <label for="">
                        <input type="radio" name="selection" id="incorrect" value="false"> Wrong detection
                    </label>
                </div>
                <div class="animal_selection">
                    <select name="animal" id="animal" disabled>
                        <option th:each="specie : ${species}" th:value="${specie.name}" th:text="${specie.name}"></option>
                        <option value="other">OTHER</option>
                    </select>
                    <input type="text" id="animal_text" name="newClass" disabled>
                </div>
    
                <div>
                    <input type="submit" class="validate-button disabled" value="VALIDAR ESPECIE" id="submit" disabled>
                    <a th:href="@{/home}"><button class="cancelate-button">CANCELAR VALIDACION</button></a>
                </div>
            </div>
        </form>
        
    </main>
    
</body>
</html>