* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --light-white: rgb(245, 245, 245);
    --medium-white: rgb(181, 181, 181);
    --light-dark: rgb(41, 41, 41);
}

body {
    margin: 0;
    height: 100vh;
    width: 100%;
}

.action{
    background-color: black;
    height: 75px;
}

.profile{
    height: 100%;
    display: flex;
    flex-direction: row;
    margin-right: 2rem;
    justify-content: flex-end;
    align-items: center;
}

.profile img{
    height: 60%;
    border-radius: 50%;
}

.profile img:hover{
    cursor: pointer;    
}

.action .menu::before {
    content: '';
    position: absolute;
    top: -5px;
    right: 23px;
    width: 20px;
    height: 20px;
    background-color: white;
    transform: rotate(45deg);
}

.menu{
    position: absolute;
    background-color: white;
    right: -10px;
    margin-right: 2rem;
    padding: 1rem 2rem;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    transition: 0.3s;
    visibility: hidden;
    opacity: 0;
}

.active{
    visibility: visible;
    opacity: 1;
}

.dropdown {
    padding: 0;
}

.dropdown > li{
    list-style: none;
}

.link{
    text-decoration: none;
    color: black;
    padding-left: 1rem;
    display: flex;
    gap: 1rem;
}

.header{
    padding: 1rem;
}

.header_text{
    padding: 1rem;
}

h1, h3{
    font-weight: 500;
    color: var(--light-dark);
    margin: 0;
}

.validation_fill{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.validation_btn{
    background-color: black;
    border-radius: 50%;
}

.icon{
    fill: white;
    min-width: 100%;
    min-height: 100%;
}

.validation_items{
    display: grid;
    grid-template-rows: 1fr;
    gap: 1rem;
    padding-inline: 1rem;
}

.validation_item{
    display: grid;
    grid-template-columns: 1fr 2.5fr min-content;
    margin: 1rem;
    padding: 1rem;
    box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
}

.image{
    object-fit: cover;
    height: 100%;
    max-width: 100%;
}

.info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.item-pages{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
    align-items: center;
    padding: 1rem;
}

.item-pages .selected {
    background: white !important;
    color: black;
    border: 1px solid black;
    box-sizing: content-box;
}

.item-pages a{
    --size: 32px;
    --margin: 6px;
    margin: 0 var(--margin);
    border-radius: 6px;
    background: #202020;
    max-width: auto;
    min-width: var(--size);
    height: var(--size);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 0 6px;

    text-decoration: none;
    color: white;
}

.item-pages a:hover{
    background-color: #4a4a4a;

}

@media (min-width: 750px){
    .validation_items{
        grid-template-columns: 1fr 1fr 1fr;
    }

    .info{
        align-items: baseline;
        padding-left: 1rem;
    }

    h3{
        font-size: 1.5rem;
    }

    .date{
        padding: 0.5rem 0 0 2rem;
    }
}